<!DOCTYPE html>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name='robots' content='noindex, nofollow'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="profile" href="//gmpg.org/xfn/11">
    <link rel="pingback" href="https://dairy-farm.ancorathemes.com/xmlrpc.php">
    <link rel='dns-prefetch' href='//fonts.googleapis.com'>
    <link rel='dns-prefetch' href='//s.w.org'>
    <link rel="alternate" type="application/rss+xml" title="Dairy Farm &raquo; Feed" href="feed/index.htm">
    <link rel="alternate" type="application/rss+xml" title="Dairy Farm &raquo; Comments Feed" href="comments/feed/index.htm">
    <link href="~/Content/css/CustomStyle.css" rel="stylesheet" />
    <link href="~/Content/wp-content/plugins/trx_demo-master/css/font-icons/css/trx_demo_icons.css" rel="stylesheet" />
    <link rel='stylesheet' id='trx_demo_icons_animation-css' href='~/Content/wp-content/plugins/trx_demo-master/css/font-icons/css/animation.css' type='text/css' media='all'>
    <link rel='stylesheet' id='wp-block-library-css' href='~/Content/wp-includes/css/dist/block-library/style.min.css?ver=5.9.2' type='text/css' media='all'>
    <link rel='stylesheet' id='wc-blocks-vendors-style-css' href='~/Content/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-vendors-style.css?ver=7.2.2' type='text/css' media='all'>
    <link rel='stylesheet' id='wc-blocks-style-css' href='~/Content/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/wc-blocks-style.css?ver=7.2.2' type='text/css' media='all'>

    <link rel='stylesheet' id='contact-form-7-css' href='~/Content/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.5.6' type='text/css' media='all'>
    <link rel='stylesheet' id='cooked-essentials-css' href='~/Content/wp-content/plugins/cooked/assets/admin/css/essentials.min.css?ver=1.7.11' type='text/css' media='all'>
    <link rel='stylesheet' id='cooked-icons-css' href='~/Content/wp-content/plugins/cooked/assets/css/icons.min.css?ver=1.7.11' type='text/css' media='all'>
    <link rel='stylesheet' id='cooked-styling-css' href='~/Content/wp-content/plugins/cooked/assets/css/style.min.css?ver=1.7.11' type='text/css' media='all'>

    <link rel='stylesheet' id='essential-grid-plugin-settings-css' href='~/Content/wp-content/plugins/essential-grid/public/assets/css/settings.css?ver=3.0.11' type='text/css' media='all'>
    <link rel='stylesheet' id='tp-fontello-css' href='~/Content/wp-content/plugins/essential-grid/public/assets/font/fontello/css/fontello.css?ver=3.0.11' type='text/css' media='all'>
    <link rel='stylesheet' id='trx_demo_panels-css' href='~/Content/wp-content/plugins/trx_demo-master/css/trx_demo_panels.css' type='text/css' media='all'>
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='~/Content/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=6.4.1' type='text/css' media='only screen and (max-width: 768px)'>
    <link rel='stylesheet' id='woocommerce-general-css' href='~/Content/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=6.4.1' type='text/css' media='all'>

    <link rel='stylesheet' id='font-google-fonts-style-css' href='css?family=Libre+Baskerville:700|Oswald:300,300italic,400,400italic,700,700italic|Average&#038;subset=latin,latin-ext' type='text/css' media='all'>
    <link rel='stylesheet' id='fontello-style-css' href='~/Content/wp-content/themes/dairy-farm/css/fontello/css/fontello.css' type='text/css' media='all'>
    <link rel='stylesheet' id='dairy-farm-main-style-css' href='~/Content/wp-content/themes/dairy-farm/style.css' type='text/css' media='all'>
    <link rel='stylesheet' id='dairy-farm-animation-style-css' href='~/Content/wp-content/themes/dairy-farm/fw/css/core.animation.css' type='text/css' media='all'>
    <link rel='stylesheet' id='dairy-farm-shortcodes-style-css' href='~/Content/wp-content/plugins/trx_utils/shortcodes/theme.shortcodes.css' type='text/css' media='all'>
    <link rel='stylesheet' id='dairy-farm-theme-style-css' href='~/Content/wp-content/themes/dairy-farm/css/theme.css' type='text/css' media='all'>

    <link rel='stylesheet' id='dairy-farm-woocommerce-style-css' href='~/Content/wp-content/themes/dairy-farm/css/plugin.woocommerce.css' type='text/css' media='all'>
    <link rel='stylesheet' id='dairy-farm-responsive-style-css' href='~/Content/wp-content/themes/dairy-farm/css/responsive.css' type='text/css' media='all'>
    <link rel='stylesheet' id='mediaelement-css' href='~/Content/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css?ver=4.2.16' type='text/css' media='all'>
    <link rel='stylesheet' id='wp-mediaelement-css' href='~/Content/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=5.9.2' type='text/css' media='all'>
    <link rel='stylesheet' id='js_composer_front-css' href='~/Content/wp-content/plugins/js_composer/assets/css/js_composer.min.css?ver=6.8.0' type='text/css' media='all'>
    <link rel='stylesheet' id='wpgdprc-front-css-css' href='~/Content/wp-content/plugins/wp-gdpr-compliance/Assets/css/front.css?ver=1648822426' type='text/css' media='all'>

    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.5.11' async="" id='tp-tools-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.5.11' async="" id='revmin-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.7.0-wc.6.4.1' id='jquery-blockui-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=6.4.1' id='wc-add-to-cart-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart.js?ver=6.8.0' id='vc_woocommerce-add-to-cart-js-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/dairy-farm/fw/js/photostack/modernizr.min.js' id='modernizr-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/wp-gdpr-compliance/Assets/js/front.min.js?ver=1648822426' id='wpgdprc-front-js-js'></script>
    <link rel="https://api.w.org/" href="Content/wp-json/index.htm">
    <link rel="alternate" type="application/json" href="Content/wp-json/wp/v2/pages/129">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Content/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.9.2">
    <meta name="generator" content="WooCommerce 6.4.1">
    <link rel="canonical" href="index.htm">
    <link rel='shortlink' href='index.htm'>
    <link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed?url=https%3A%2F%2Fdairy-farm.ancorathemes.com%2F">
    <link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed-1?url=https%3A%2F%2Fdairy-farm.ancorathemes.com%2F&#038;format=xml">

    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress.">
    <meta name="generator" content="Powered by Slider Revolution 6.5.11 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
    <link rel="icon" href="~/Content/wp-content/uploads/2016/09/footer-logo.png" sizes="32x32">
    <link rel="icon" href="~/Content/wp-content/uploads/2016/09/footer-logo.png" sizes="192x192">
    <link rel="apple-touch-icon" href="~/Content/wp-content/uploads/2016/09/footer-logo.png">
    <meta name="msapplication-TileImage" content="https://dairy-farm.ancorathemes.com/wp-content/uploads/2016/09/footer-logo.png">
    <script src="~/Content/js/Customtheme.js"></script>
</head>



<body class="page-template-default page page-id-170 theme-dairy-farm ua_chrome woocommerce-no-js dairy_farm_body body_style_wide body_filled article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide wpb-js-composer js-comp-ver-6.8.0 vc_responsive">



    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap">
            </div>
            <!--header-->
            @Html.Action("HeaderPageContent", "Home", new { area = "" })
            <!--header-->
            <div class="top_panel_title top_panel_style_1  title_present breadcrumbs_present scheme_original">
                <div style="background-image: url('../../Content/wp-content/uploads/2016/09/title_bg.jpg');" class="top_panel_title_inner top_panel_inner_style_1  title_present_inner breadcrumbs_present_inner">
                    <div class="content_wrap">
                        <h1 class="page_title">@ViewBag.Title</h1><div class="breadcrumbs"><a class="breadcrumbs_item home" href="../index.htm">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">@ViewBag.Title</span></div>
                    </div>
                </div>
            </div>

            @RenderBody()

            <!--footer-->
            @Html.Action("FooterPageContent", "Home", new { area = "" })
            <!--footer-->
        </div>
    </div>

    <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a><div class="custom_html_section"></div>

    <script type="text/javascript">
        window.RS_MODULES = window.RS_MODULES || {};
        window.RS_MODULES.modules = window.RS_MODULES.modules || {};
        window.RS_MODULES.waiting = window.RS_MODULES.waiting || [];
        window.RS_MODULES.defered = false;
        window.RS_MODULES.moduleWaiting = window.RS_MODULES.moduleWaiting || {};
        window.RS_MODULES.type = 'compiled';</script>
    <script type="text/javascript">
        var ajaxRevslider;
        function rsCustomAjaxContentLoadingFunction() {
            // CUSTOM AJAX CONTENT LOADING FUNCTION
            ajaxRevslider = function (obj) {

                // obj.type : Post Type
                // obj.id : ID of Content to Load
                // obj.aspectratio : The Aspect Ratio of the Container / Media
                // obj.selector : The Container Selector where the Content of Ajax will be injected. It is done via the Essential Grid on Return of Content

                var content = '';
                var data = {
                    action: 'revslider_ajax_call_front',
                    client_action: 'get_slider_html',
                    token: 'f492424189',
                    type: obj.type,
                    id: obj.id,
                    aspectratio: obj.aspectratio
                };

                // SYNC AJAX REQUEST
                jQuery.ajax({
                    type: 'post',
                    url: 'https://dairy-farm.ancorathemes.com/wp-admin/admin-ajax.php',
                    dataType: 'json',
                    data: data,
                    async: false,
                    success: function (ret, textStatus, XMLHttpRequest) {
                        if (ret.success == true)
                            content = ret.data;
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });

                // FIRST RETURN THE CONTENT WHEN IT IS LOADED !!
                return content;
            };

            // CUSTOM AJAX FUNCTION TO REMOVE THE SLIDER
            var ajaxRemoveRevslider = function (obj) {
                return jQuery(obj.selector + ' .rev_slider').revkill();
            };


            // EXTEND THE AJAX CONTENT LOADING TYPES WITH TYPE AND FUNCTION
            if (jQuery.fn.tpessential !== undefined)
                if (typeof (jQuery.fn.tpessential.defaults) !== 'undefined')
                    jQuery.fn.tpessential.defaults.ajaxTypes.push({ type: 'revslider', func: ajaxRevslider, killfunc: ajaxRemoveRevslider, openAnimationSpeed: 0.3 });
            // type:  Name of the Post to load via Ajax into the Essential Grid Ajax Container
            // func: the Function Name which is Called once the Item with the Post Type has been clicked
            // killfunc: function to kill in case the Ajax Window going to be removed (before Remove function !
            // openAnimationSpeed: how quick the Ajax Content window should be animated (default is 0.3)
        }

        var rsCustomAjaxContent_Once = false
        if (document.readyState === "loading")
            document.addEventListener('readystatechange', function () {
                if ((document.readyState === "interactive" || document.readyState === "complete") && !rsCustomAjaxContent_Once) {
                    rsCustomAjaxContent_Once = true;
                    rsCustomAjaxContentLoadingFunction();
                }
            });
        else {
            rsCustomAjaxContent_Once = true;
            rsCustomAjaxContentLoadingFunction();
        }</script>
    <script type="text/html" id="wpb-modifications">
    </script><link href="css-1?family=Libre+Baskerville:700%7COswald:400%7CRoboto:400&display=swap" rel="stylesheet" property="stylesheet" media="all" type="text/css">
    <script type="text/javascript">
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })();</script>

    <link rel='stylesheet' id='dairy-farm-messages-style-css' href='~/Content/wp-content/themes/dairy-farm/fw/js/core.messages/core.messages.css' type='text/css' media='all'>
    <link rel='stylesheet' id='swiperslider-style-css' href='~/Content/wp-content/themes/dairy-farm/fw/js/swiper/swiper.css' type='text/css' media='all'>
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/Content/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.5.11' type='text/css' media='all'>
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        .custom.tp-bullets {
        }

            .custom.tp-bullets:before {
                content: ' ';
                position: absolute;
                width: 100%;
                height: 100%;
                background: transparent;
                padding: 10px;
                margin-left: -10px;
                margin-top: -10px;
                box-sizing: content-box
            }

        .custom .tp-bullet {
            width: 12px;
            height: 12px;
            position: absolute;
            background: #aaa;
            background: rgba(125,125,125,0.5);
            cursor: pointer;
            box-sizing: content-box
        }

            .custom .tp-bullet.rs-touchhover, .custom .tp-bullet.selected {
                background: rgb(125,125,125)
            }

        .custom .tp-bullet-image {
        }

        .custom .tp-bullet-title {
        }
    </style>
    <script type='text/javascript' src='~/Content/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.9' id='regenerator-runtime-js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0' id='wp-polyfill-js'></script>

    <script type='text/javascript' src='~/Content/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.5.6' id='contact-form-7-js'></script>
    <script type='text/javascript' id='trx_demo_panels-js-extra'>
        /* <![CDATA[ */
        var TRX_DEMO_STORAGE = { "ajax_url": "https:\/\/dairy-farm.ancorathemes.com\/wp-admin\/admin-ajax.php", "ajax_nonce": "ba4fb27a06", "site_url": "https:\/\/dairy-farm.ancorathemes.com", "user_logged_in": "0", "msg_ajax_error": "Invalid server response! Try again later.", "tabs_delay": "5000" };
        /* ]]> */</script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/trx_demo-master/js/trx_demo_panels.js' id='trx_demo_panels-js'></script>

    <script type='text/javascript' src='~/Content/wp-content/plugins/trx_utils/js/trx_utils.js' id='trx_utils-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4-wc.6.4.1' id='js-cookie-js'></script>

    <script type='text/javascript' src='~/Content/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=6.4.1' id='woocommerce-js'></script>

    <script type='text/javascript' src='~/Content/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=6.4.1' id='wc-cart-fragments-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/dairy-farm/fw/js/superfish.js' id='superfish-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/dairy-farm/fw/js/core.utils.js' id='dairy-farm-core-utils-script-js'></script>

    <script type='text/javascript' src='~/Content/wp-content/themes/dairy-farm/fw/js/core.init.js' id='dairy-farm-core-init-script-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/dairy-farm/js/theme.init.js' id='dairy-farm-theme-init-script-js'></script>

    <script type='text/javascript' src='~/Content/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=4.2.16' id='mediaelement-core-js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/mediaelement/mediaelement-migrate.min.js?ver=5.9.2' id='mediaelement-migrate-js'></script>

    <script type='text/javascript' src='~/Content/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=5.9.2' id='wp-mediaelement-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/trx_utils/shortcodes/theme.shortcodes.js' id='dairy-farm-shortcodes-script-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=6.8.0' id='wpb_composer_front_js-js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/core.min.js?ver=1.13.1' id='jquery-ui-core-js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/tabs.min.js?ver=1.13.1' id='jquery-ui-tabs-js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/effect.min.js?ver=1.13.1' id='jquery-effects-core-js'></script>
    <script type='text/javascript' src='~/Content/wp-includes/js/jquery/ui/effect-fade.min.js?ver=1.13.1' id='jquery-effects-fade-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/dairy-farm/fw/js/core.messages/core.messages.js' id='dairy-farm-messages-script-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=6.8.0' id='isotope-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/themes/dairy-farm/fw/js/swiper/swiper.js' id='swiperslider-script-js'></script>
    <script type='text/javascript' src='~/Content/wp-content/plugins/cooked/assets/js/cooked-functions.min.js?ver=1.7.11' id='cooked-functions-js-js'></script>
    <script type="text/javascript" id="rs-initialisation-scripts">
        var tpj = jQuery;

        var revapi1;

        if (window.RS_MODULES === undefined) window.RS_MODULES = {};
        if (RS_MODULES.modules === undefined) RS_MODULES.modules = {};
        RS_MODULES.modules["revslider11"] = {
            once: RS_MODULES.modules["revslider11"] !== undefined ? RS_MODULES.modules["revslider11"].once : undefined, init: function () {
                window.revapi1 = window.revapi1 === undefined || window.revapi1 === null || window.revapi1.length === 0 ? document.getElementById("rev_slider_1_1") : window.revapi1;
                if (window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length == 0) { window.revapi1initTry = window.revapi1initTry === undefined ? 0 : window.revapi1initTry + 1; if (window.revapi1initTry < 20) requestAnimationFrame(function () { RS_MODULES.modules["revslider11"].init() }); return; }
                window.revapi1 = jQuery(window.revapi1);
                if (window.revapi1.revolution == undefined) { revslider_showDoubleJqueryError("rev_slider_1_1"); return; }
                revapi1.revolutionInit({
                    revapi: "revapi1",
                    visibilityLevels: "1240,1024,778,480",
                    gridwidth: 1240,
                    gridheight: 762,
                    lazyType: "smart",
                    spinner: "spinner0",
                    perspectiveType: "local",
                    editorheight: "762,768,960,720",
                    responsiveLevels: "1240,1024,778,480",
                    progressBar: { disableProgressBar: true },
                    navigation: {
                        mouseScrollNavigation: false,
                        onHoverStop: false,
                        touch: {
                            touchenabled: true,
                            touchOnDesktop: true
                        },
                        bullets: {
                            enable: true,
                            tmp: "",
                            style: "custom",
                            v_offset: 30,
                            space: 10
                        }
                    },
                    viewPort: {
                        global: true,
                        globalDist: "-200px",
                        enable: false,
                        visible_area: "20%"
                    },
                    fallbacks: {
                        allowHTML5AutoPlayOnAndroid: true
                    },
                });

            }
        } // End of RevInitScript

        if (window.RS_MODULES.checkMinimal !== undefined) { window.RS_MODULES.checkMinimal(); };</script>




</body>
</html>
