<!--header start-->

<header class="top_panel_wrap top_panel_style_1 scheme_original">
    <div class="top_panel_wrap_inner top_panel_inner_style_1 top_panel_position_above">
        <div class="top_panel_top">
            <div class="content_wrap clearfix">
                <div class="top_panel_top_contact_area icons icon-phone-1">
                    <a href="tel:1(800)-456-789">
                        1(800)-456-789
                    </a>
                </div>
                <div class="top_panel_top_open_hours icons icon-clock-1">Mn-Fr: 8am - 8pm, St-Sn: 8am - 4pm</div>
                <div class="top_panel_top_user_area">
                    <div class="top_panel_top_socials">
                        <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny"><div class="sc_socials_item"><a href="https://twitter.com/themes_ancora" target="_blank" class="social_icons social_twitter"><span class="icon-twitter"></span></a></div><div class="sc_socials_item"><a href="https://www.facebook.com/AncoraThemes/" target="_blank" class="social_icons social_facebook"><span class="icon-facebook"></span></a></div><div class="sc_socials_item"><a href="https://www.linkedin.com/" target="_blank" class="social_icons social_linkedin"><span class="icon-linkedin"></span></a></div></div>
                    </div>
                    <ul id="menu_user" class="menu_user_nav">
                    </ul>
                </div>
            </div>
        </div>
        <div class="top_panel_middle">
            <div class="content_wrap">
                <div class="columns_wrap columns_fluid">
                    <div class="column-4_5 contact_logo">
                        <div class="logo">
                            <a href="Home/HomePage">
                                <img src="~/Content/logo/logo.jpg" class="logo_main" alt="logo" width="239" height="59" />
                            </a>
                        </div>
                    </div><div class="column-1_5 contact_field contact_cart">
                        <a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
                            <span class="contact_icon icon-1"></span>
                            <span class="contact_label contact_cart_label">cart:</span>
                            <span class="contact_cart_totals">
                                <span class="cart_items">0 Items</span><span class="cart_summa">&#36;0.00</span>
                            </span>
                        </a>
                        <ul class="widget_area sidebar_cart sidebar">
                            <li>
                                <div class="widget woocommerce widget_shopping_cart"><div class="hide_cart_widget_if_empty"><div class="widget_shopping_cart_content"></div></div></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top_panel_bottom">
            <div class="content_wrap clearfix">
                <nav class="menu_main_nav_area menu_hover_fade">
                    <ul id="menu_main" class="menu_main_nav">
                        <li id="menu-item-38" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-38">
                            <a href="@Url.Action("HomePage","Home")">
                                <span>Home</span>
                            </a>
                        </li>
                        <li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-39">
                            <a href="@Url.Action("AboutUs","Home")">
                                <span>About Us</span>
                            </a>
                        </li>                       
                        <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37">
                            <a href="@Url.Action("Product","Home")"><span>Products</span></a>
                        </li>
                        <li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112">
                            <a href="@Url.Action("ContactUs","Home")">
                                <span>Contacts</span>
                            </a>
                        </li>
                        <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168">

                            <a href="@Url.Action("Login","Account")"><span>Login</span></a>
                        </li>
                        <li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168">
                            <a href="@Url.Action("Dashboard", "Admin", new { Area = "Admin" })"><span>Admin</span></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="header_mobile">
    <div class="content_wrap">
        <div class="menu_button icon-menu"></div>
        <div class="logo">
            <a href="../index.htm"><img src="~/Content/logo/logo.jpg" class="logo_main" alt="logo" width="239" height="59"></a>
        </div>
        <div class="menu_main_cart top_panel_icon">
            <a href="#" class="top_panel_cart_button" data-items="0" data-summa="&#036;0.00">
                <span class="contact_icon icon-1"></span>
                <span class="contact_label contact_cart_label">cart:</span>
                <span class="contact_cart_totals">
                    <span class="cart_items">0 Items</span><span class="cart_summa">&#36;0.00</span>
                </span>
            </a>
            <ul class="widget_area sidebar_cart sidebar">
                <li>
                    <div class="widget woocommerce widget_shopping_cart"><div class="hide_cart_widget_if_empty"><div class="widget_shopping_cart_content"></div></div></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="side_wrap">
        <div class="close">Close</div>
        <div class="panel_top">
            <nav class="menu_main_nav_area">
                <ul id="menu_mobile" class="menu_main_nav">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38">
                        <a href="#"><span>Home</span></a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-181"><a href="../index.htm"><span>Homepage 1</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-179"><a href="../homepage-2/index.htm"><span>Homepage 2</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a href="../homepage-3/index.htm"><span>Homepage 3</span></a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-39">
                        <a href="#"><span>About us</span></a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-170 current_page_item menu-item-183"><a href="index.htm" aria-current="page"><span>About 1</span></a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-182"><a href="../about-2/index.htm"><span>About 2</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-329">
                                <a href="#"><span>Features</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="../shortcodes/index.htm"><span>Shortcodes</span></a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="../typography/index.htm"><span>Typography</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-185">
                                <a href="#"><span>Tools</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632"><a href="../privacy-policy/index.htm"><span>Privacy Policy</span></a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-815"><a href="../service-plus/index.htm"><span>Service plus</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-330">
                                <a href="#"><span>Gallery</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-331"><a href="../gallery-cobbles/index.htm"><span>Gallery Cobbles</span></a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-333"><a href="../gallery-grid/index.htm"><span>Gallery Grid</span></a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-332"><a href="../gallery-masonry/index.htm"><span>Gallery Masonry</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184"><a href="../farm/index.htm"><span>Farm</span></a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-41">
                        <a href="#"><span>Blog</span></a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="../classic/index.htm"><span>Classic</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-127">
                                <a href="#"><span>Masonry</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136"><a href="../masonry-2-columns/index.htm"><span>Masonry 2 columns</span></a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144"><a href="../masonry-3-columns/index.htm"><span>Masonry 3 columns</span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-128">
                                <a href="#"><span>Portfolio</span></a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a href="../portfolio-2-columns/index.htm"><span>Portfolio 2 columns</span></a></li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-145"><a href="../portfolio-3-columns/index.htm"><span>Portfolio 3 columns</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="@Url.Action("Product","Home")"><span>Products</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="../our-recipes/index.htm"><span>Recipes</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="../contacts/index.htm"><span>Contacts</span></a></li>
                </ul>
            </nav>
        </div>
        <div class="panel_bottom">
        </div>
    </div>
    <div class="mask"></div>
</div>
<!--header end-->